- # Cover / Title Page
.page.title
  %h1= @name
  %h3= @subtitle

- if @student_notes
  .page
    .notes
      = @student_notes

- # Table of contents
.page.height-less
  %h1 Book List
  #toc
    %ul.toc
      - @books.each_with_index do |book, i|
        %li.listing
          = book

- # Journaling!
- @journal_dates.each do |date|
  - if @chores[date.wday][:visible]
    .page
      = page_number(:journal, date.strftime("%d %B") )
      .date
        .day= date.strftime("%A")
        .number=date.strftime("%d")
        .month=date.strftime("%B")
        .year=date.strftime("%Y")
      .clear
      - if @verses.length > 0
        - verse = @verses.shift
        - @verses.push(verse)
        .verse
          = verse[:verse]
          .ref= verse[:ref]
      .clear
      .lines
        - if @chores[date.wday][:chores] && @chores[date.wday][:chores].length > 0
          .chores-wrapper
            %div.daily-grade
              %span.label Grade
              %span.grade &nbsp;
            %ul.chores
              %li.header
                To-Do
              - @chores[date.wday][:chores].each do |chore|
                %li
                  .checkbox
                  .chore= chore
              - 5.times do
                %li
                  .checkbox
                  .chore.unknown
        - 500.times do
          .line

.page
  %h1 Book Reports

- # Book List
- @books.each do |book|
  .page
    = page_number(:books, book)
    %h1= book
    .lines
      - 500.times do
        .line
